body {
	background-color: rgb(237,237,237);
	padding:0px;
	margin:0px;
}
div#header {
	width: 70%;
	height: 13%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgb(209,211,213);	
}
div.logo {
	height:100%;
	width:30%;
	float:left;
}
div#content {
	width: 70%;
	height: 80%;
	background-color: rgb(211,212,215);
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 1px solid rgb(209,211,213);	
}
div#footer {
	height: 4%;
	width: 70%;
	color:#757575;;
	margin-left: auto;
	margin-right: auto;
	line-height: 27px;
}
div#footer-left {
	float:left;
}
div#footer-right {
	float:right;
}