body {
	background-color: rgb(237,237,237);
	padding:0px;
	margin:0px;
}
div#header {
	position: fixed;
	top:0px;
	left: 196px;
	width: 71%;
	height: 13%;
	background-color: inherit;
	z-index: 10;
}
div.logo {
	height:100%;
	width:30%;
	float:left;
	margin-left: 25px;
	margin-top: 10px;
}
ul#base-ul {
	float: right;
	height: 100%;
	margin-top: 0px;
	margin-right:10px;
	list-style-type: none;
}
li#base-li {
	height: 100%;
	width: 70px;
	display: inline-block;
	line-height: 87px;
}
a {
	cursor: pointer;
	text-decoration: none;
}
div#content {
	margin-top: 100px;
	width: 70%;
	background-color: rgb(211,212,215);	
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 1px solid rgb(209,211,213);
	box-shadow: 0px 1px 3px #888888;	
	min-height: 80%;
}
div#footer {
	height: 4%;
	width: 70%;
	color:#757575;;
	margin-left: auto;
	margin-right: auto;
	line-height: 27px;
}
div#footer-left {
	float:left;
}
div#footer-right {
	float:right;
}