div#content {
	min-height: 80%;
}
div.area {
	height: 180px;
	width: 232px;
	float: left;
}
div.img {
	float: left;
	height: 150px;
	width: 200px;
	overflow: hidden;
	margin-left: 24px;
	margin-top: 12px;
	position: relative;
	border: 5px solid white;
}
img {
	display: none;
}
a#images {
	position: absolute;
	right: 16px;
	top: 10px;
	color:white;
	background-color: black;
	opacity: 0.6;
	height: 22px;
	width: 22px;
	display: none;
	border-radius: 15px;
	text-align: center;
}
a#images i {
	margin-top: 3px;
}
div.img:hover {
	border: 5px solid rgb(35,117,200);
}
a#images:hover {
	opacity: 0.8;
}
div.clear {
	clear:both;
}
a#imagesToShow {
	position: fixed;
	bottom: 50;
	right: 130px;
	opacity: 0.7;
	background-color: black;
	color: white;
	text-decoration: none;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 33px;
}
a#imagesToShow p {
	margin-top: 10px;
}
a#imagesToShow:hover {
	opacity:0.9;
}