div#content {
	height: 80%;
}
div#left {
	width: 60%;
	height: 95%;
	margin-top: 10px;
	background-color: rgb(243,244,246);
	border: 1px solid rgb(209,211,213);
	margin-left: 10px;
	border-radius: 10px;
	float:left;
	box-shadow: 0px 1px 6px #888888;
}
div#left-header {
	width: 100%;
	height: 12%;
	background-color: rgb(222,224,230);
	border-radius: 10px 10px 0px 0px;
}
div.input {
	float:left;
	height:100%;
}
form {
	height: 100%;
}
input {
	height: 33px;
	width: 240px;
	font-size: 17px;
	margin-top: 14px;
	margin-left: 10px;
	padding-left: 10px;
}
div.search {
	float:left;
	position: absolute;
	top: 133px;
	left: 440px;
}
a.search-icon {
	cursor: pointer;
}
table {
	color:#757575;
	width: 100%;
	height: 80%;
	background-color: rgb(218,223,246);
}
tr {
	background-color: white;
}
tr#th {
	height: 25px;
	width: 100%;
	background-color: rgb(243,244,246);
}
tr#td:hover {
	background-color: rgb(243,244,246);
}
a#index {
	text-decoration: none;
	opacity: 0.5;
	color:#757575;
}
a#index:hover {
	opacity: 1;
}
a.prev,a.num,a.next {
	opacity: 0.7;
	color:#757575;
	text-decoration: none;
}
a.prev:hover,a.num:hover,a.next:hover {
	opacity: 1;
	text-decoration: underline;
}
div.result {
	height: 8%;
	color:#757575;
	line-height: 41px;
	margin-left: 20px;
}
div#right {
	width: 35%;
	height: 95%;
	margin-top: 10px;
	background-color: rgb(243,244,246);
	border: 1px solid rgb(209,211,213);
	margin-right: 10px;
	border-radius: 10px;
	float:right;
	box-shadow: 0px 1px 6px #888888;
}
div#right-header {
	width: 100%;
	height: 12%;
	color: #757575;
	line-height: 61px;
	text-align: center;
	background-color: rgb(222,224,230);
	border-radius: 10px 10px 0px 0px;
}
div.image {
	height:42%;
	margin-top: 10px;
	text-align: center;
}
img.index {
	margin-top: 10px;
}
div.message {
	height:46%;
	color:#757575;
}

div.one {
	height: 30px;
	margin-left:15px;
}

div.introduce {
	margin-top: -2px;
	height: 128px;
	line-height: 25px;
}
div.detail {
	float: right;
	margin-right: 17px;
	display: none;
}
div.detail a {
	opacity: 0.7;
	color: black;
	text-decoration: none;
}
div.detail a:hover {
	color: red;
}
div.edit {
	display: none;
	opacity: 0.6;
	right: 60px;
	top: 340px;
	right: 305px;
	width: 70px;
	border-radius: 4px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;	
	letter-spacing: 2px;
	background-color: black;
	position: absolute;
}
a.edit {
	color: white;
	cursor: pointer;
	text-decoration: none;
	padding: 8px 9px 8px 9px;
}
div.edit:hover {
	opacity: 0.8
}