body {
	background-color: rgb(237,237,237);
	padding:0px;
	margin:0px;
}
div#header {
	width: 70%;
	height: 15%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgb(209,211,213);	
}
div.logo {
	height:100%;
	width:30%;
	float:left;
}
div#content {
	width: 70%;
	height: 80%;
	background-color: rgb(211,212,215);
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 1px solid rgb(209,211,213);	
}
div#left {
	width: 60%;
	height: 95%;
	margin-top: 10px;
	background-color: rgb(243,244,246);
	border: 1px solid rgb(209,211,213);
	margin-left: 10px;
	border-radius: 10px;
	float:left;
}
div#left-header {
	width: 100%;
	height: 12%;
	background-color: rgb(222,224,230);
	border-radius: 10px 10px 0px 0px;
}
div.input {
	float:left;
	height:100%;
}
form {
	height: 100%;
}
input {
	height: 33px;
	width: 240px;
	font-size: 17px;
	margin-top: 14px;
	margin-left: 10px;
	padding-left: 10px;
}
div.search {
	float:left;
	position: absolute;
	top: 145px;
	left: 440px;
}
a.search-icon {
	cursor: pointer;
}
table {
	color:#757575;
	width: 100%;
	height: 80%;
	background-color: rgb(218,223,246);
}
tr {
	background-color: white;
}
tr#th {
	width: 100%;
	height: 10%;
	
}
a {
	text-decoration: none;
	opacity: 0.5;
	color:#757575;
}
a.view {
	cursor: pointer;
}
a:hover {
	opacity: 1;
}
div#right {
	width: 35%;
	height: 95%;
	margin-top: 10px;
	background-color: rgb(243,244,246);
	border: 1px solid rgb(209,211,213);
	margin-right: 10px;
	border-radius: 10px;
	float:right;
}
div#right-header {
	width: 100%;
	height: 12%;
	color: #757575;
	line-height: 61px;
	text-align: center;
	background-color: rgb(222,224,230);
	border-radius: 10px 10px 0px 0px;
}
div.image {
	position: relative;	
}
img {
	position: absolute;
	display:none;
	margin-top: 10px;
	margin-left: 78px;
}
div.introduce {
	position: relative;
	margin-left: 20px;
}
div.p{
	color: #757575;
	position: absolute;
	display:none;
}
p.name {
	display: none;
}