div.introduce {
	width: 100%;
	width: 97%;
	color: #757575;
	line-height: 25px;
	margin-top:20px;
	padding-left: 15px;
	padding-right: 3px;
}
div.img {
	position: relative;
}
img.show {
	margin-bottom: 10px;
	margin-right: 35px;
	margin-left: 30px;
	float:right;
}
div.edit {
	opacity: 0.6;
	right: 60px;
	top: 125px;
	height: 30px;
	width: 70px;
	border-radius: 4px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;	
	letter-spacing: 2px;
	background-color: black;
	position: absolute;
}
a.edit {
	color: white;
	cursor: pointer;
	text-decoration: none;
	padding: 7px 8px 7px 8px;
}
div.edit:hover {
	opacity: 0.8
}
div#first-left {
	position: fixed;
	width: 30px;
	height: 400px;
	text-align: center;
	top: 108px;
	left: 184px;
}
div.underline {
	position: fixed;
	height: 400px;
	width: 26px;
	border-radius: 10px 0px 0px 0px;
	border-left: 1px dashed gray;
	left: 197px;
}
ul.show-ul {
	width: 30px;
	height: 400px;
	margin-left: -42px;
	border-radius: 9px 0px 0px 0px;
	list-style-type: none;
}
li.show-li {
	margin-bottom: 70px;
}
li.show-li a i {
	color:green;
	font-weight: bold;
	background-color: rgb(237,237,237);
}
li.show-li a:active {
	color:red;
}
h1 {
	opacity: 0.8;
	color:black;
}
h2 {
	color:rgb(19,130,237);
}
h3 {
	opacity: 0.7;
	color:black;
}
p a {
	color:rgb(19,110,194);
	text-decoration: none;
	opacity: 0.8;
}
p a:hover {
	text-decoration: underline;
}
a#show {
	opacity: 0.6;
	position: fixed;
	text-decoration: none;
	color: white;	
	padding: 15px 5px 15px 5px;
	bottom: 50;
	right: 130px;
	background-color: black;
	border-radius: 54px;
}
a#show:hover {
	opacity:0.9;
}