div.introduce {
	width: 100%;
	width: 97%;
	color: #757575;
	line-height: 25px;
	margin-top:20px;
	padding-left: 15px;
	padding-right: 3px;
}
div.img {
	position: relative;
}
img {
	margin-bottom: 10px;
	margin-right: 35px;
	margin-left: 30px;
	float:right;
}
div.edit {
	opacity: 0.6;
	right: 60px;
	top: 125px;
	height: 30px;
	width: 70px;
	border-radius: 4px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;	
	letter-spacing: 2px;
	background-color: black;
	position: absolute;
}
a.edit {
	color: white;
	cursor: pointer;
	text-decoration: none;
	padding: 8px 9px 8px 9px;
}
div.edit:hover {
	opacity: 0.8
}