 <extend name="Common:base" />
 <block name="title"><title>add image</title></block>
 <block name="extra_css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/edit.css">
</block>
<block name="main">
	<div id="left">
		<?php 
	 		require_once("Public/php/qiniu/rs.php");
			$accessKey = 'O382ET2CmCVfdylV3kK31uQQacE595YNm8hOrBf5';
			$secretKey = 'H91chSYT4fIBMgNvfV_oVRhWFzNHIvHPGeSh0FNs';
			Qiniu_SetKeys($accessKey, $secretKey);
			$bucket = 'legend-face';
			$putPolicy = new Qiniu_RS_PutPolicy($bucket);	//建一个上传策略对象
			$upToken = $putPolicy->Token(null);		//调用此方法来生成上传凭证
		 ?>
	 	<form id="form" target="ifm" method="post" action="http://up.qiniu.com" name="form" enctype="multipart/form-data">
			<div id="left-header">
				<div class="button1"><a  id="edit" class="select"><i class="fa fa-arrow-up"></i>上传图片</a>
				</div>
				<div class="name-header">{$data['name']}</div>
			</div>
			<div id="left-bottom">
		    	<input type="hidden" id="token" name="token" value="<?php echo $upToken ?>" >
		        <input name="key" value="{$time}" type="hidden">			
	    		<input id="one" class="file" name="file" type="file">			
	    		<!-- <input class="submit" type="submit" value="上传图片"> -->
	    		<a href=""></a>
			</div>
		</form>

		<div class="add" data-url="{:U(add_image_handle,array('time'=>$time,'id'=>$data['id']))}"></div>
		<form class="edit" action="{:U('edit_handle')}" method="post">	
			<div>
				<input type="hidden" name="id" value="{$data['id']}">
			</div>
			<div class="edit">
				姓名：<input class=name type="text" readonly="readonly"  name="name" value="{$data['name']}" />
			</div>
			<div class="edit edit-sex">
				<label>性别：</label>
				<input class="sex" type="radio" readonly="readonly"  name="sex" value="M" 
					<eq name='data["sex"]' value='M'>checked="checked"</eq> /> 男
				<input class="sex" type="radio" readonly="readonly"  name="sex" value="W"  
					<eq name='data["sex"]' value='W'>checked="checked"</eq> /> 女<br>
			</div>
			<div class="edit">
				职业：<input class="profession" type="text" readonly="readonly"   name="profession" value="{$data['profession']}" />
			</div>
			<div class="introduce">
				<div class="label">简介：</div>
				<textarea class="introduce" id="introduce" readonly="readonly"  name="introduce" >{$data['introduce']}</textarea>
				<script type="text/javascript" id="ckeditor"></script>
			</div>
			
			<input class="edit-submit" type="submit" value="修改" />
		</form>
	</div>		    				
	<div id="right">
		<div id="right-header">
			预览
		</div>
		<div class="image">
			<div id="two"></div>
			<div class="button2"><a  id="edit" id="edit" class="submit">确认上传</a></div>	
		</div> 
	</div>
	<iframe id='ifm' name='ifm' style="display:none" />
</block>
<block name="extra_js">
	<script type="text/javascript" src="__PUBLIC__/js/edit.js"></script>
	<script type="text/javascript" src="__PUBLIC__/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="__PUBLIC__/htmlbox/htmlbox.colors.js"></script>  
    <script type="text/javascript" src="__PUBLIC__/htmlbox/htmlbox.styles.js"></script>  
    <script type="text/javascript" src="__PUBLIC__/htmlbox/htmlbox.syntax.js"></script>  
    <script type="text/javascript" src="__PUBLIC__/htmlbox/htmlbox.undoredomanager.js"></script>  
    <script type="text/javascript" src="__PUBLIC__/htmlbox/htmlbox.min.js"></script>  
</block>