<!DOCTYPE html>
<html lang="en">
<head>
	<title>修改</title>
</head>
<body>
	<form action="{:U('edit_handle')}" method="post">	
		<input type="hidden" name="id" value="{$data['id']}">
		名称:<input type="text"  name="name" value="{$data['name']}" /><br>
		性别:<input type="radio" name="sex" value="M" 
			<eq name='data["sex"]' value='M'>checked="checked"</eq> /> 男
		<input type="radio" name="sex" value="W"  
			<eq name='data["sex"]' value='W'>checked="checked"</eq> /> 女<br>
		职业:<input type="text"  name="profession" value="{$data['profession']}" /><br> 
		简介:<textarea name="introduce" >{$data['introduce']}</textarea><br>
		<input type="submit" value="修改" />
	</form>
	<?php $urls=getPersonImageUrl($data['name']);?>
	<foreach name="urls" item="url" >
		<?php $img_key=substr($url, 31)?>
		<img src="{$url}" width="150" height="150"><a href="{:U('del_image',array('id'=>$data['id'],'img_key'=>$img_key))}">删除</a><br>
	</foreach>
	<br>
	<a href="{:U('index')}">返回首页</a>
</body>
</html>