<extend name="Common:base" />
<block name="title">
	<title>images</title>
</block>
<block name="extra_css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/images.css">
</block>
<block name="main">
	<a id="imagesToShow" href="{:U('show',array('id'=>$pid))}">
		<p>详细<br>信息</p>
	</a>
	<volist name="urls" id="url">
		<div class="area">
			<a href="{:U('images-Allshow',array('pid'=>$pid))}">
				<div class='img' data-pid={$pid}>
					<img class="lazy" src="{$url}">	
					<a id="images" href="{:U('del_image',array('img_key'=>substr($url,31),'id'=>$pid))}">
						<i class="fa fa-times"></i>
					</a>
				</div>	
			</a>  
		</div>  
	</volist>
	<div class="clear"></div>
</block>
<block name="extra_js">
	<script type="text/javascript" src="__PUBLIC__/js/images.js"></script>
	<script src="__PUBLIC__/js/jquery.lazyload.js?v=1.9.1"></script>
</block>