<html>
 <head>
   <title>Select Data</title>
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/font-awesome-4.2.0/css/font-awesome.css">
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
   <script type="text/javascript" src="__PUBLIC__/jquery-2.1.1.js"></script>
   <script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
 </head>
 <body>
 	<div id="header">
 		<div class="logo"><h3>logo</h3></div>
 	</div>
 	<div id="content">
 		<div id="left">
 			<div id="left-header">
 				<form action="{:U(search)}" method="post">
	 				<div class="input">
	 					<input type="text" name="name" placeholder="请输入搜索姓名">
	 				</div>
	 				<div class="search">
	 					<a class="search-icon"><i class="fa fa-search"></i></a>
	 				</div>
 				</form>
 			</div>
			<table border="0" cellspacing="1">
				<tr id="th">
					<th width="50%">姓名</th>
					<th width="50%">操作</th>
				</tr>
				<volist name="data" id="vo">
					<tr>
						<td>&nbsp;&nbsp;<i class="fa fa-user"></i></i>
							&nbsp;&nbsp;&nbsp;&nbsp;{$vo.name}
						</td>
						<?php
					 		$urls=getPersonImageUrl($vo['name']);
					 		$images[$vo['name']]=$urls[0];
					 	?>
						<td align="center">
							<a href="{:U('add_image',array('name'=>$vo['name']))}">上传</a>&nbsp;&nbsp;
							<a class="view" name="<?php echo $vo['name'] ?>
							">删除</a>&nbsp;&nbsp;
							<a class="view" name="<?php echo $vo['name'] ?>" 
							href="{:U('edit',array('id'=>$vo['id']))}"
							>修改</a>&nbsp;&nbsp;
							<a class="view" url="<?php echo $urls[0] ?>" name="<?php echo $vo['name'] ?>">预览</a>
						</td>
					</tr>
				</volist>
			</table>		    				
 		</div>
 		<div id="right">
 			<div id="right-header">
 				未选择人物
 			</div>
 			<div class="image">				
 				<?php foreach ($images as $val): ?>
 					<img class="img" src="<?php echo $val ?>" width="180">
 				<?php endforeach ?>
 			</div>
 			<div class="introduce">
 				<volist name="data" id="vo">
 					<?php
					 		$url=getPersonImageUrl($vo['name']);
					 		$image[$vo['name']]=$url[0];
					 ?>
 					<div class="p" name="<?php echo $image[$vo['name']] ?>">
 						<p class="name">{$vo.name}</p>
	 					<p>性别：<eq name="vo['sex']" value="M">男<else/>女</eq></p>
	 					<p>职业：{$vo.profession}</p>
	 					<p>简介：{$vo.introduce}</p>
 					</div>
 				</volist>
 			</div>
 		</div>
 	</div>
 </body>
</html> 
