<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <block name="title"><title>标题</title></block>
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/font-awesome-4.2.0/css/font-awesome.css">
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
   <script type="text/javascript" src="__PUBLIC__/jquery-2.1.1.js"></script>
   <script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
   <block name="extra_css"></block>
   <block name="extra_js"></block>
 </head>
 <body>
 	<div id="header">
 		<div class="logo"><h3>logo</h3></div>
 		<ul>
 			<li><a href="{:U('Index/index')}">首页</a></li>
 			<li><a href="{:U('Person/index')}">人物</a></li>
 			<li><a href="{:U('Group/index')}">群组</a></li>
 			<li><a>个人信息</a></li>
 		</ul>
 	</div>
 	<div id="content">
 		<block name="main"></block>
 	</div>
 	<div id="footer">
 		<div id="footer-left">Email：1420646999@qq.com</div>   
 		<div id="footer-right">designed by  legend team</div>
 	</div>
 </body>
</html> 
