<extend name="Common:base" />
 <block name="title"><title>管理员编辑</title></block>
 <block name="extra_css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/edit.css">
</block>
<block name="main">
	<form action="{:U('edit_handle')}" method="post">	
		用户名:<input type="text"  name="user" value="{$data['user']}" /><br>
		昵称: <input type="text" name="name" value="{$data['name']}"><br>
		密码: <input type="password" name="password"><br>
		<input type="hidden" name="id" value="{$data['id']}">
		<input type="submit" value="编辑" />
	</form>
	<a href="{:U('show')}">详情</a>
</block>