 <extend name="Common:base" />
 <block name="title"><title>识别</title></block>
 <block name="extra_css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/identify.css">
</block>
<block name="main">
 	
	 <div id="left">
		<?php 
	 		require_once("Public/php/qiniu/rs.php");
			$accessKey = 'O382ET2CmCVfdylV3kK31uQQacE595YNm8hOrBf5';
			$secretKey = 'H91chSYT4fIBMgNvfV_oVRhWFzNHIvHPGeSh0FNs';
			Qiniu_SetKeys($accessKey, $secretKey);
			$bucket = 'legend-image';
			$putPolicy = new Qiniu_RS_PutPolicy($bucket);	//建一个上传策略对象
			$upToken = $putPolicy->Token(null);		//调用此方法来生成上传凭证
		 ?>
	 	<form id="fom" method="post" target="ifm" action="http://up.qiniu.com" name="form" enctype="multipart/form-data">
	 		<div id="left-header">图片识别</div>
			<input type="hidden" id="token" name="token" value="<?php echo $upToken ?>" >
	    	<input name="key" value="{$time}" type="hidden">		
			<input class="select_image" name="file"type="file" />
			<input class="submit_image" type="submit" value="上传图片" >
		</form>
		<div class="link_submit">
			<a class="identify_link_submit">选择图片</a>
		</div>
		<div class="identify">
			<a class="identify_image" href="{:U(identify_handle,array('time'=>$time))}">识别图片</a>
		</div>
	</div>
	<div id="right">
		<div id="right-header">
			预览
		</div>
		<div class="image">
			<div class="show_image"></div>
		</div> 
	</div>
	<iframe id='ifm' name='ifm' style="display:none" />
 	
</block>
<block name="extra_js">
	<script type="text/javascript" src="__PUBLIC__/js/identify.js"></script>
</block>